In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
df = pd.read_csv("https://raw.githubusercontent.com/Dongguk-DataScience/Data_Science/main/ready_to_use_data/tourspot.csv")

In [26]:
df

       관광유형                명칭   우편번호  ...            도시         위도          경도
0       관광지               쉰움산  25746  ...       강원도 동해시  37.455194  129.001569
1       관광지             대진 등대  24703  ...       강원도 고성군  38.503780  128.428794
2       관광지          감자꽃 스튜디오  25370  ...       강원도 평창군  37.368851  128.438881
3       관광지          하평해변(강릉)  25435  ...       강원도 강릉시  37.844282  128.871922
4       관광지            기미만세공원  25162  ...       강원도 홍천군  37.784525  128.146392
...     ...               ...    ...  ...           ...        ...         ...
22547  축제공연            청원생명축제  28107  ...  충청북도 청주시 청원구  36.733250  127.407383
22548  축제공연  충주국제무예액션영화제 2020  27438  ...      충청북도 충주시  36.987880  127.905593
22549  축제공연       박달 가요제 2020  27171  ...      충청북도 제천시  37.136177  128.208483
22550  축제공연            괴산고추축제  28026  ...      충청북도 괴산군  36.815381  127.786697
22551  축제공연        제천의병제 2020  27171  ...      충청북도 제천시  37.099079  128.086081

[22552 rows x 7 columns]

In [27]:
city_list = []
for city in df["도시"]:
  if len(city.split()) > 2:
    city_list.append(" ".join(city.split()[0:2]))
  else:
    city_list.append(city)

In [28]:
city_df = pd.DataFrame(city_list)

In [29]:
city_df.columns = ["시군구"]

In [30]:
city_df.shape

(22552, 1)

In [32]:
city_df["시군구"].str.endswith(("시","군", "구")).sum()

22552

In [33]:
df_total = pd.concat([df, city_df], axis=1)

In [34]:
df_total.columns

Index(['관광유형', '명칭', '우편번호', '주소', '도시', '위도', '경도', '시군구'], dtype='object')

In [36]:
df_total=df_total[['관광유형', '명칭', '우편번호', '주소', '도시', '시군구','위도', '경도']]

In [37]:
df_total.to_csv("/content/drive/MyDrive/dataset/city_spot.csv",index=False)